section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 

  grid-auto-rows: min-content; 
  
  gap: 10px;
  padding: 2rem;
  background-color: #151515;
  color: white;
  border-radius: 0 15px 15px 0;
  width: 35rem;
  
  grid-template-areas: 
    ".        avatar   settings"
    ".        avatar   .       "
    "nombre   nombre   nombre  "
    "handle   handle   handle  "
    "iconos   iconos   iconos  "
    "lista    lista    lista   ";
    
  align-items: center;
  text-align: center;
}


.boton-config {
  grid-area: settings;
  justify-self: end;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}

.avatar {
  grid-area: avatar;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;  /* Mantiene la relación de aspecto */
  border: 2px solid #444040;
  justify-self: center;
}

.nombre {
  grid-area: nombre;
  font-size: 1.2rem;
  margin: 0.3rem 0 0 0;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px; 
  font-size: 1.4rem;
  color: white;
  margin: 0;
}

.nombre-usuario {
  grid-area: handle;
  font-size: 0.9rem;
  color: #ccc;
  margin: 0 0 1rem 0;
  font-weight: normal;  /* Elimina la negrita*/
}

.datos-extra {
  grid-area: iconos;
  display: flex; 
  justify-content: space-around; /* Distribuye los 3 iconos */
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  letter-spacing: 1px; 
  font-size: 0.9rem;
}

.datos-extra li{
  font-family: 'Inter', sans-serif; 
}

.info-usuario {
  grid-area: lista;
  list-style: none;
  margin: 1rem 0 0 0;
  width: 100%; /* Ocupa todo el ancho disponible del área */
  display: flex;
  flex-direction: column;
}

.info-usuario li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1rem 0; /* Espaciado vertical interno */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.info-usuario li:last-child { /* Se elimina el borde del último elemento */
  border-bottom: none;
}

/* Columna izquierda */
.etiqueta {
  color: #9e9e9e;
  font-size: 0.9rem;
  font-weight: 500;
  
}

/* Columna derecha */
.valor {
  color: #dfdfdf;
  font-weight: 600;
  font-size: 0.95rem;
  
  /* Esto asegura que si el texto es muy largo, no rompa todo */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px; /* Margen de seguridad para que no se pegue a la etiqueta */
}

