<nav [class.desplegado]="desplegado">

    <button (click)="desplegarContraer()" class="toggle-btn">
    <span class="material-symbols-outlined">
        {{itemBoton.icon}}
    </span>
    </button>

    <ul>
        @for(item of menuItems; track $index){
            <li routerLinkActive="active">
                <a [routerLink]="item.route">
                    <span class="material-symbols-outlined" (click)="verificarAccion(item)">{{item.icon}}</span>
                    @if(desplegado){
                        <span class="label">{{item.label}}</span>
                    }
                </a>
            </li>
        }
    </ul>
</nav>