.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    /* Animación suave de entrada */
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}