.contenedor-mapa {
  position: relative;
  width: 100%;
  height: 100vh; 
}

#map {
  width: 100%;
  height: 100%;
}

.capa-flotante {
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -100%); 
  pointer-events: auto; 
}