.contenedor-mapa {
  position: relative;
  width: 100%;
  height: 100vh; 
}

#map {
  width: 100%;
  height: 100%;
}

.capa-flotante {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}