<div class="popup-card">
<button class="btn-cerrar" (click)="cerrar()">×</button>

    <h3 class="lugar-titulo">
    {{ tituloLugar || postActual!.ubicacion || 'Buscando dirección...' }}
  </h3>

  <div class="usuario-info">
    <div class="icono-usuario">
        <span class="material-symbols-outlined ">person</span>
    </div>
    <span class="username">@{{ postActual.fotografo.nombreDeUsuario }}</span>
  </div>

  <div class="carrusel-body">
    
    <button class="btn-flecha" (click)="anterior()" [disabled]="posts.length <= 1">
      <span class="material-symbols-outlined ">chevron_left</span>
    </button>

    <div class="imagen-contenedor">
      <img [src]="postActual.url" alt="Foto del lugar" class="foto-real">
    </div>

    <button class="btn-flecha" (click)="siguiente()" [disabled]="posts.length <= 1">
      <span class="material-symbols-outlined ">chevron_right</span>
    </button>

  </div>
</div>