<div class="post-card">
  @if(postData) {
    <div class="post-header">
      <div class="fotografo-info">
        <div class="avatar">
          {{ postData.fotografo?.nombre?.charAt(0) }}{{ postData.fotografo?.apellido?.charAt(0) }}
        </div>
        <div class="info">
          <h4 class="nombre">{{ postData.fotografo?.nombre }} {{ postData.fotografo?.apellido }}</h4>
          <p class="username">@{{ postData.fotografo?.nombreDeUsuario }}</p>
        </div>
      </div>

       @if(sePuedeEditar) {
      <div style="display: flex; gap: 5px; align-items: center;">
        
       
            <button class="btn-opciones btn-delete" (click)="eliminar()" title="Eliminar post">
                <span class="material-symbols-outlined">delete</span>
            </button>
            <button class="btn-opciones btn-modificar" (click)="modificar()" title="Modificar post">
              <span class="material-symbols-outlined">edit</span>
            </button>
       
      </div>
      }
      
      </div>

    <div class="post-imagen">
      <img [src]="postData.url" [alt]="postData.descripcion">
    </div>

    <div class="post-acciones">
      <div class="acciones-izquierda">
        <button class="btn-accion" (click)="toggleMegusta()" [class.liked]="liked">
          <span class="material-symbols-outlined">
            {{ liked ? 'favorite' : 'favorite_border' }}
          </span>
        </button>
        <p class="meG"><strong>{{ cantidadDeMeGustas() | number }}</strong> me gusta</p>
      </div>
      <button class="btn-accion" (click)="guardar()" [class.guardado]="guardado">
        @if(guardado){
          <span class="material-symbols-outlined">
            bookmark_heart
            </span>
        }@else{
        <span class="material-symbols-outlined">bookmark_border</span>
        }
      </button>
    </div>

    <div class="post-descripcion">
      <p>
        <strong>{{ postData.fotografo?.nombreDeUsuario }}</strong> 
        {{ postData.descripcion }}
      </p>
    </div>

    @if(postData.ubicacion) {
      <div class="post-ubicacion">
        <span class="material-symbols-outlined">location_on</span>
        <span>{{ postData.ubicacion }}</span>
      </div>
    }

    <div class="post-fecha">
      <p>{{ postData.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
    </div>
  }
</div>