:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'nav header'
        'nav main'
        'nav hr'
        'nav footer';
    height: 100vh;
    width: 100vh;
    overflow: hidden;
}

app-menu-general {
    grid-area: nav;
}

app-header {
    grid-area: header;
}

main {
    grid-area: main;
    overflow: auto;
    overflow-y: auto;
    background-color: var(--color-fondo);
}

app-footer {
    grid-area: footer;
}

.colorcitos-degrade{
    background: linear-gradient(90deg, #000000, #232424);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    display: inline;
    font-size: 5rem;
    font-weight: 600;
}

@media (max-width: 768px) {
    :host {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto; 
        grid-template-areas: 
            'header'
            'nav'  
            'main'
            'footer';
    }

    app-menu-general {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
}