.modal-body {
  display: flex;
  gap: 2rem;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.preview-section {
  flex: 1;
  border-right: 1px solid #eee;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-card {
  width: 100%;
  max-width: 100rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
}

.preview-img-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.preview-header, .preview-desc {
  padding: 10px;
}

.avatar {
    width: 30px; 
    height: 30px; 
    background: #000000; 
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 0.8rem;
    color: white;
}

.form-section {
  flex: 1;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input, 
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.btn-cancelar {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.btn-guardar {
  background: #272727;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Limito el tamaño máximo del text area */
textarea {
  max-width: 400px;
  max-height: 200px;
  min-width: 150px;
  min-height: 80px;
}

.validators{
    font-size: 0.8rem;
    padding: 0.2rem;
}

@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
  }
  .preview-section {
    border-right: none;
    border-bottom: 1px solid #eee;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}