
:host {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

.tarjeta {
  display: flex;
  align-items: center;
  gap: 25px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  padding: 25px;
  margin-bottom: 25px;
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.tarjeta:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 12px 40px -10px rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.25);
}


.columna-izquierda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  text-align: center;
}

.circulo-visual {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #000;
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.1);
  transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.circulo-visual:hover {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.2);
}

.fondo-estrellas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  z-index: 0; 
  opacity: 0; 
  transition: opacity 0.6s ease-in-out;
  
  filter: drop-shadow(0 0 3px #fff) drop-shadow(0 0 6px rgba(255, 255, 255, 0.5));

  background-image: 
    radial-gradient(1px 1px at 10% 10%, #fff, transparent),
    radial-gradient(1px 1px at 20% 30%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 40% 70%, #fff, transparent),
    radial-gradient(1px 1px at 60% 20%, rgba(255,255,255,0.8), transparent),
    radial-gradient(1px 1px at 80% 40%, #fff, transparent),
    radial-gradient(2px 2px at 90% 80%, rgba(255,255,255,0.6), transparent),
    radial-gradient(1px 1px at 30% 50%, #fff, transparent),
    radial-gradient(1px 1px at 70% 10%, rgba(255,255,255,0.7), transparent),
    radial-gradient(2px 2px at 50% 90%, #fff, transparent),
    radial-gradient(1px 1px at 15% 80%, rgba(255,255,255,0.5), transparent),
    radial-gradient(1px 1px at 85% 15%, #fff, transparent);
    
 
    animation: centelleoEstrellas 8s infinite alternate ease-in-out;
}

.tarjeta:hover .fondo-estrellas {
  opacity: 1; 
}

.nombre-evento-mini {
  margin: 5px 0 4px 0;
  font-size: 0.95rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  max-width: 140px;
  text-transform: capitalize;
}

.etiqueta {
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}


.columna-centro {
  flex-grow: 1;
}

.fecha {
  display: block;
  font-size: 0.85rem;
  color: #3c3c3c;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.columna-centro p {
  margin: 0;
  font-size: 0.95rem;
    color: #7b7979;
  line-height: 1.6;
  font-weight: 300;
}


.columna-derecha {
  display: flex;
  align-items: center;
}

.boton-calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.boton-calendario:hover {
  background: #fff;
  color: #000;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transform: scale(1.15);
}

.material-icons {
  font-size: 24px;
}


/*  1. METEOROS */
.anim-meteoros { width: 100%; height: 100%; position: relative; overflow: hidden; }
.estrella {
  position: absolute; height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  border-radius: 2px; box-shadow: 0 0 10px #fff; opacity: 0;
}
.e1 { width: 40px; top: 30px; left: 15px; animation: meteoro 3s infinite ease-out; }
.e2 { width: 60px; top: 50px; left: 5px; animation: meteoro 3s infinite ease-out 1s; }
.e3 { width: 30px; top: 20px; left: 45px; animation: meteoro 3s infinite ease-out 0.5s; }
.e4 { width: 40px; top: 50px; left: 25px; animation: meteoro 3s infinite ease-out; }
.e5 { width: 60px; top: 70px; left: 10px; animation: meteoro 3s infinite ease-out 1s; }
.e6 { width: 30px; top: 40px; left: 50px; animation: meteoro 3s infinite ease-out 0.5s; }

@keyframes meteoro {
  0% { transform: translate(0,0) rotate(90deg); opacity: 1; }
  100% { transform: translate(70px,70px) rotate(90deg); opacity: 0; }
}

 /* 2. PLANETA */
.anim-planeta {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.planeta-cuerpo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #444, #000);
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
              0 0 15px rgba(255, 255, 255, 0.1);
  position: absolute;
  transform: rotateX(15deg);
  z-index: 2;
}

.anillo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-top: 3px solid #fff;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  transform: rotateX(80deg);
  animation: orbitaAnillo 6s linear infinite;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


@keyframes orbitaAnillo {
  0% {transform: rotateX(80deg) rotateZ(0deg);}
  100% {transform: rotateX(80deg) rotateZ(360deg); }
} 

/* 3. ECLIPSE */

.anim-eclipse {
  display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: relative;
}
.sol {
  width: 34px; height: 34px; border-radius: 50%;
  background: transparent; 
  border: 2px solid #fff; 
  box-shadow: 0 0 15px #fff; 
  position: absolute;
}
.sombra {
  width: 36px; height: 36px; background: #000; 
  border-radius: 50%; position: absolute;
  animation: eclipsePass 5s infinite ease-in-out;
}
@keyframes eclipsePass {
  0% { transform: translate(-40px, -15px); }
  50% { transform: translate(0, 0); } 
  100% { transform: translate(40px, 15px); }
}

/* 4. ESTACIONES */

.anim-estacional {
  display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: relative;
}
.sol-estacional {
  width: 20px; height: 20px; background: #fff; border-radius: 50%;
  box-shadow: 0 0 20px rgba(255,255,255,0.8);
  position: absolute; z-index: 2;
}
.rayos {
  width: 100%; height: 100%; position: absolute;
  animation: rotarSol 10s linear infinite;
}
.rayo {
  position: absolute; background: #fff; width: 2px; height: 10px;
  left: 50%; margin-left: -1px; top: 10px; border-radius: 2px;
}
/* Posicionamos 4 rayos en cruz */
.r1 { transform: rotate(0deg) translateY(0); top: 15px; }
.r2 { transform: rotate(90deg) translateY(0); top: 15px; }
.r3 { transform: rotate(180deg) translateY(0); top: 15px; }
.r4 { transform: rotate(270deg) translateY(0); top: 15px; }

@keyframes rotarSol { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

/* 5. FASE LUNAR */

.anim-fase-luna {
  display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;
}
.luna-fases {
  width: 35px; height: 35px; border-radius: 50%;
  background: #fff; 
  position: relative;
  overflow: hidden; 
  border: 1px solid rgba(255,255,255,0.1);
}
.luna-fases::after {
  content: ''; position: absolute; width: 35px; height: 35px;
  border-radius: 50%; background: #000;
  left: -35px; 
  animation: sombraLunar 6s infinite linear;
}
@keyframes sombraLunar {
  0% { transform: translateX(0); } /* Luna Llena */
  50% { transform: translateX(35px); } /* Luna Nueva */
  100% { transform: translateX(70px); } /* Luna Llena otra vez */
}

/*  6. ASTEROIDE */
.anim-asteroide { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.asteroide {
  width: 30px; height: 30px; background: #333; border-radius: 40%;
  border: 2px solid #fff;
  animation: girarAst 4s linear infinite;
}
@keyframes girarAst { to { transform: rotate(360deg); } }

.anim-meteoros,
.anim-planeta,
.anim-eclipse,
.anim-estacional,
.anim-fase-luna,
.anim-asteroide {
    position: relative;
    z-index: 2; 
}

@keyframes centelleoEstrellas {
  0% { transform: scale(1) rotate(0deg); }
  100% { transform: scale(1.1) rotate(5deg); }
}